body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    width: 1280px;
    margin: 0px auto;
    margin-top: 20px;
}
#header{
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#leftheader, #rightheader{
    flex-grow: 1;
}
#rightheader{
    display: flex;
    justify-content: flex-end;
}
#rightheader div{
    margin: 0px 20px;
}
#rightheader input{
    border: none;
    border-bottom: solid 1px black;
}
a:link{
    text-decoration: none;
    display: flex;
    color: black;
}
a:hover{
    color: black;
    text-decoration: underline;
}
a:visited{
    color: black;
}
#navigation ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
#navigation li{
    display: inline-block;
    margin: 0px 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
#left-content{
    background-color: cadetblue;
}
#right-content{
    background-color: coral;
}
#content{
    display: flex;
}
.content-group{
    width: 640px;
    height: 400px;
    font-weight: lighter;
    padding: 50px;
}
#content{
    line-height: 20px;
}
.big-font{
    font-size: 70px;
    font-weight: 100;
}
#shopsale{
    font-weight: 100;
    padding: 1px 20px;
    width: 100px;
    border: solid black 3px;
}
.big-font2{
    font-size: 60px;
    font-weight: 100;
}
#text1{
    margin-top: 87px;
}
.text-group1{
    font-weight: 100;
    line-height: 5px;
    font-size: 30px;
}
#featured-content{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.featured-product-box{
    text-align: center;
}
.featured-product-box h1{
    font-weight: 500;
}
#best-sellercontainer{
    display: flex;
    justify-content: space-between;
}
#featured-sellers img{
    max-width: 80%;
}
#featured-sellers{
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: center;
}
#SHOPALL{
    display: flex;
    justify-content: center;
}
#SHOPALL p{
    display: flex;
    justify-content: center;
    max-width: 80px;
    padding: 15px;
    border: solid 1px black;
}
#Moma_Exclusives{
    display: flex;
    text-align: center;
    padding-top: 22px;
    justify-content: center
}
.moma_exclusives_container_card{
    margin-top: 50px;
    max-width: 220px;
}
#MoMA_Exclusives_container{
    display: flex;
    justify-content: space-between;
}
#Discover{
    display: flex;
    justify-content: center;
}
#discover_left{
    max-width: 230px;
    margin-right: 20px;
}
#discover_left h1{
    line-height: 10px;
}
#discover_left h2{
    padding: 20px;
    border: 2px solid black;
}
#footer{
    margin-top: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
#footerright{
    margin-left: 22px;
}
#footerleft a:link{
    color: white;
    padding: 8px 20px;
    border: 2px solid white;
}
#footer2{
    background-color: lightgrey;
    padding: 20px 0px;
}
#footer2 h2{
    text-align: center;
}
#newsletter input{
    border: none;
    width: 400px;
    height: 40px;
}
#newsletter{
    display: flex;
    justify-content: center;
}
.newsletter-form{
    background-color: white;
    width: 480px;
    padding: 10px;
}
.newsletter-form button{
    background-color: white;
    border: none;
}
.links li{
    list-style: none;
    font-weight: 700;
    max-width: 170px;
    padding-right: 50px;
    line-height: 25px;
}
#link-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#copyright-container div{
    display: flex;
    justify-content: center;
}
#copyright-container{
    display: flex;
    justify-content: center;
}
.copyright{
    padding-right: 20px;
}
#visitmoma a{
    display: flex;
    justify-content: center;
}
    
#kids{
    width: 35%;
    height: 10%;
}
